@charset "utf-8";
/* 마이페이지 */
	header .title { padding: 0 40px; line-height: 70px; text-align: center; }

	.box { padding: 10px; border-bottom: 2px solid #F5F4F2; }

	.name { position: relative;  }
	.name h1 { line-height: 1.5em; }

	.my_point    { padding: 10px; font-weight: 700; background: #F5F4F2; }
	.my_point dl { overflow: hidden; }
	.my_point dt { float: left; width: 50%; }
	.my_point dd { float: left; width: 50%; text-align: right; }
	.my_point dd a { font-size: 12px; }

	.my_menu { padding: 10px 0; }
	.my_menu a { display: block; padding: 10px; overflow: hidden; }
	.my_menu i { float: right; font-size: 18px; }